* {
  color: black;
  background-color: wheat;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid red;
  margin: 20px;
}

.submit-button {
  background-color: aqua;
  margin: 20px;
}

.acitivity-checkbox {
  border: solid yellow;
  margin: 20px;
}

.activity-input {
  margin: 20px;
  border: solid orange;
  align-content: space-between;
}

li {
  list-style-type: none;
}

.delete-button {
  background-color: rgb(221, 224, 140);
  border-radius: 20px;
}

.list-activities li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f9f9f9;
}

.list-activities {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
